# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django and Python
db.sqlite3
*.sqlite3
*.log
media/
staticfiles/
env/
venv/
venv*/
.env
.env.*

# Ignore IDE/editor folders
.vscode/
*.swp
.DS_Store

# Ignore compiled assets
*.pyc

# Keep settings.py local — ignore all files named settings.py
**/settings.py
